{% extends "auctions/layout.html" %}

{% block title %}
    {% if is_editing %}
        Edit Listing
    {% else %}
        Create Listing
    {% endif %}
{% endblock %}

{% block body %}
    <div class="wrapper-container">
        <div class="create-container">
            <h2>
                {% if is_editing %}
                    Edit Listing
                {% else %}
                    Create Listing
                {% endif %}
            </h2>
            <form action="{% if is_editing %}{% url 'edit_listing' listing_id %}{% else %}{% url 'create' %}{% endif %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="btn-container">
                    <input class="btn btn-primary" type="submit" value="{% if is_editing %} Save Changes {% else %} Create Listing {% endif %}">
                </div>
            </form>
        </div>
    </div>
{% endblock %}