{% extends "auctions/layout.html" %}

{% block title %}
    Create Listing
{% endblock %}

{% block body %}
    <div class="wrapper-container">
        <div class="create-container">
            <h2>Create Listing</h2>
            <form action="{% url 'create' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <label>Category</label>
                    <select class="custom-select" name="category">
                        <option value=""></option>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="btn-container">
                    <input class="btn btn-primary" type="submit" value="Publish">
                </div>
            </form>
        </div>
    </div>
{% endblock %}