{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2 class="active-listings-title">Active Listings</h2>

    <div class="active-listings-grid">
        {% for listing in listings %}
            <a class="active-listing-link" href="{% url 'listing' listing.id %}">
                <div class="active-listing">
                    <div class="image-container">
                        {% if listing.image_url %}
                            <img src="{{ listing.image_url }}" alt="">
                        {% else %}
                            <img src="{% static 'auctions/no_image.png' %}" alt="">
                        {% endif %}
                    </div>
                    <div class="info-container">
                        <h4>{{ listing.title }}</h4>
                        <span>${{ listing.price|floatformat:2 }}</span>
                        <p>Posted: {{ listing.datetime|date:"N d, Y" }}</p>
                    </div>
                </div>
            </a>
        {% empty %}
            <h5>No Active Listings.</h5>
        {% endfor %}
    </div>
{% endblock %}