{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h2 class="page-title">{{ title }}</h2>
    {% if not listings %}
        <div class="no-listings-msg">
            <h5>No Listings.</h5>
        </div>
    {% endif %}
    <div class="watchlist-categories-listings-grid">
        {% for listing in listings %}
            <a class="watchlist-categories-listing-link" href="{% url 'listing' listing.id %}">
                <div class="watchlist-categories-listing">
                    <div class="image-container">
                        {% if listing.image_url %}
                            <img src="{{ listing.image_url }}" alt="">
                        {% else %}
                            <img src="{% static 'auctions/no_image.png' %}" alt="">
                        {% endif %}
                    </div>
                    <div class="info-container">
                        <h4>{{ listing.title }}</h4>
                        <span>${{ listing.price|floatformat:2 }}</span>
                        <p>Posted: {{ listing.datetime|date:"N d, Y" }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}